@import url("/src/globle.css");

.ourAllWalls {
    width: 100vw;
    display: flex;
}

.sideFilterBar {
    width: 15vw;
    padding-left: 20px;
}

.filterHeading {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-secondary);
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-family: var(--font-body);
}

.filterSubHeading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-secondary);
    font-family: var(--font-body);
}

.byPrice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font-body);
}

.byPrice input[type="range"] {
    width: 100%;
    height: 4px;
    cursor: pointer;
}

.priceRangeDisplay {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-accent);
    margin-top: 5px;
}

.luxuryDivider {
    margin: 30px 0;
    border: none;
    height: 1px;
    background-color: var(--color-accent);
}

.byDesign {
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
}

.selectByDesignList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.selectByDesignListItem {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.2s ease;
    cursor: pointer;
    color: var(--color-accent);
}

.selectByDesignListItem input {
    display: none;
}

.selectByDesignListItem label {
    cursor: pointer;
}

.walls {
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.wallCard {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.wallCard:hover .moreInfo {
    bottom: 0px;
}

.moreInfo {
    width: 100%;
    background-color: var(--color-bg-soft);
    position: absolute;
    bottom: -130px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
    transition: all 0.3s ease-in;
}

.wallName {
    font-family: var(--font-body);
}

.wallDiscription,
.wallRating,
.wallPrice {
    font-family: var(--font-heading);
}

.wallPrice {
    color: var(--color-secondary);
    font-weight: bold;
}

.wallImage {
    transition: all 0.2s ease;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    width: 100%;
    height: fit-content;
}

.wallCard:hover .wallImage {
    transform: scale(1.2);
}

.buyOrAddCart {
    display: flex;
    gap: 20px;
    margin: 5px 0;
}

.buyWall {
    padding: 6px 10px;
    border: none;
    background-color: #046C4E;
    color: var(--color-bg-soft);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.buyWall:hover {
    background-color: var(--color-secondary);
}

.addOnCartWall {
    padding: 6px 10px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-bg-soft);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.addOnCartWall:hover {
    background-color: var(--color-secondary);
}


/* For tablets */
@media (max-width: 1024px) {
    
}

/* For mobile phones */
@media (max-width: 768px) {
    
}

/* For mini mobile phones */
@media (max-width: 530px) {
    .sideFilterBar {
        display: none;
    }

    .walls {
        width: 100vw;
    }

    .wallCard {
        width: 80%;
        height: 400px;
    }

    .wallCard .moreInfo {
        bottom: 0px;
    }

    .moreInfo {
        width: 100%;
    }

    .wallCard:hover .wallImage {
        transform: scale(1);
    }

    .buyWall {
        padding: 5px 8px;
    }
    
    .addOnCartWall{
        padding: 5px 8px;
    }
}