@import url("/src/globle.css");

.productCard {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px;
    margin-top: 50px;
    gap: 40px;
    justify-content: center;
}

.leftSideCard {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectedProductCardWallImage {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
}

.rightSideCard {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.rightSideCardWallName {
    font-size: 42px;
    font-weight: 300;
}

.rightSideCardWallPrice,
.rightSideCardWallRating,
.rightSideCardWallDiscription,
.rightSideCardWallColorType,
.rightSideCardWallDesignType,
.rightSideCardWallRoomType {
    font-size: 18px;
}

.rightSideCard span {
    font-weight: 200;
}

.buyOrAddCart2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 5px 0;
    width: 100%;
}

.buyWall2,
.addOnCartWall2,
.orderOnWhatsapp {
    width: 100%;
    padding: 10px 0px;
    font-size: large;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
}

.buyWall2 {
    background-color: #046C4E;
    color: white;
}

.addOnCartWall2 {
    background-color: #D4AF37;
    color: white;
}

.orderOnWhatsapp {
    background-color: rgba(128, 128, 128, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderOnWhatsapp img {
    width: 30px;
    margin-right: 1rem;
}

.buyWall2:hover,
.addOnCartWall2:hover,
.orderOnWhatsapp:hover {
    background-color: black;
    color: white;
}


/* All Walls Section */
.ourAllWallsAtProductCart {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.wallsAtProductCart {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.wallCardAtProductCart {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.wallCardAtProductCart:hover .moreInfoAtProductCart {
    bottom: 0px;
}

.wallImageAtProductCart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
    cursor: pointer;
}

.wallCardAtProductCart:hover .wallImageAtProductCart img {
    transform: scale(1.1);
}

.moreInfoAtProductCart {
    width: 100%;
    background-color: var(--color-bg-soft);
    position: absolute;
    bottom: -130px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
}

.wallNameAtProductCart {
    font-family: var(--font-body);
}

.wallDiscriptionAtProductCart,
.wallRatingAtProductCart,
.wallPriceAtProductCart {
    font-family: var(--font-heading);
}

.wallPriceAtProductCart {
    color: var(--color-secondary);
    font-weight: bold;
}

.buyOrAddCartAtProductCart {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.buyWallAtProductCart,
.addOnCartWallAtProductCart {
    padding: 6px 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

.buyWallAtProductCart {
    background-color: #046C4E;
    color: var(--color-bg-soft);
}

.addOnCartWallAtProductCart {
    background-color: var(--color-primary);
    color: var(--color-bg-soft);
}

.buyWallAtProductCart:hover,
.addOnCartWallAtProductCart:hover {
    background-color: var(--color-secondary);
}


/* Responsive */
@media (max-width: 1024px) {
    .productCard {
        padding: 30px 40px;
    }

    .rightSideCardWallName {
        font-size: 32px;
    }

    .selectedProductCardWallImage {
        height: 60vh;
    }

    .moreInfoAtProductCart{
        bottom: 0;
    }
}

@media (max-width: 768px) {
    .productCard {
        flex-direction: column;
        padding: 20px;
    }

    .rightSideCard,
    .leftSideCard {
        flex: 1;
        /* width: 100%; */
    }

    .selectedProductCardWallImage {
        height: 50vh;
    }

    .rightSideCardWallName {
        font-size: 28px;
    }

    .buyWall2,
    .addOnCartWall2,
    .orderOnWhatsapp {
        font-size: medium;
    }
}

@media (max-width: 480px) {
    .rightSideCardWallName {
        font-size: 24px;
    }

    .rightSideCardWallPrice,
    .rightSideCardWallRating,
    .rightSideCardWallDiscription,
    .rightSideCardWallColorType,
    .rightSideCardWallDesignType,
    .rightSideCardWallRoomType {
        font-size: 16px;
    }

    .buyOrAddCart2 {
        gap: 10px;
    }

    .moreInfoAtProductCart {
        font-size: 14px;
    }

    .buyOrAddCartAtProductCart {
        flex-direction: column;
        gap: 5px;
    }

    .wallCardAtProductCart {
        width: 100%;
        height: auto;
    }
}
