@import url("/src/globle.css");

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginText {
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loginForm {
    box-shadow: var(--shadow-soft);
    padding: 30px 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-bg-highlight);
}

.lableName {
    font-weight: bold;
    font-size: 1.1rem;
}

.inputField {
    margin-top: 6px;
    border: 1px solid;
    padding: 6px 12px;
    font-size: 1.2rem;
}

.authBtn {
    height: 40px;
    /* border-radius: 6px; */
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.authBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--color-hover);
}


/* For tablets */
@media (max-width: 1024px) {
    .loginText {
        font-size: 30px;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    .loginText {
        font-size: 28px;
    }
}

/* For mini mobile phones */
@media (max-width: 530px) {

    .loginText {
        font-size: 24px;
    }

    .loginForm {
        background-color: transparent;
        box-shadow: none;
    }
}