@import url("/src/globle.css");

.SelectByColors {
    width: 100vw;
}

.wallpaperColors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 20px;
}

.redColor {
    height: 200px;
    width: 200px;
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575992/red_ydh3dx.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}


.blueColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575992/skyblue_fadta6.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.greenColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575979/green_qspjfw.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.blackColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575974/black_ec7erm.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.orangeColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575991/orange_tybyfz.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.goldenColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575979/golden_ndvfsv.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.whiteColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575993/white_yx18h1.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.yellowColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575993/yellow_mba6ys.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.skyBlueColor {
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1749575992/skyblue_fadta6.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap: 20px;
}

.redColor button,
.blueColor button,
.greenColor button,
.blackColor button,
.orangeColor button,
.goldenColor button,
.whiteColor button,
.yellowColor button,
.skyBlueColor button {
    opacity: 0;
    width: 50%;
    height: 15%;
    font-size: 1rem;
    z-index: 33;
    border: none;
    background-color: rgba(0, 0, 0, 0.58);
    color: var(--color-bg-soft);
    transition: all 0.3s ease;
    cursor: pointer;
}

.redColor button:hover,
.blueColor button:hover,
.greenColor button:hover,
.blackColor button:hover,
.orangeColor button:hover,
.goldenColor button:hover,
.whiteColor button:hover,
.yellowColor button:hover,
.skyBlueColor button:hover {
    background-color: var(--color-bg-soft);
    color: var(--color-secondary);
}

.redColor h1,
.blueColor h1,
.greenColor h1,
.blackColor h1,
.orangeColor h1,
.goldenColor h1,
.whiteColor h1,
.yellowColor h1,
.skyBlueColor h1 {
    opacity: 0;
    color: var(--color-bg-soft);
    text-transform: capitalize;
    transition: all 0.3s ease;
    z-index: 22;
    font-family: var(--font-body);
    font-size: 1.5rem;
}

.redColor .overFade,
.blueColor .overFade,
.greenColor .overFade,
.blackColor .overFade,
.orangeColor .overFade,
.goldenColor .overFade,
.whiteColor .overFade,
.yellowColor .overFade,
.skyBlueColor .overFade {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.511);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.redColor:hover h1,
.redColor:hover button,
.redColor:hover .overFade,
.blueColor:hover button,
.blueColor:hover h1,
.blueColor:hover .overFade,
.greenColor:hover button,
.greenColor:hover h1,
.greenColor:hover .overFade,
.blackColor:hover button,
.blackColor:hover h1,
.blackColor:hover .overFade,
.orangeColor:hover button,
.orangeColor:hover h1,
.orangeColor:hover .overFade,
.goldenColor:hover button,
.goldenColor:hover h1,
.goldenColor:hover .overFade,
.whiteColor:hover button,
.whiteColor:hover h1,
.whiteColor:hover .overFade,
.yellowColor:hover button,
.yellowColor:hover h1,
.yellowColor:hover .overFade,
.skyBlueColor:hover button,
.skyBlueColor:hover h1,
.skyBlueColor:hover .overFade {
    opacity: 1;
}