@import url("/src/globle.css");

.haedingTextforSelectedColor {
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    font-family: var(--font-heading);
}

/* For tablets */
@media (max-width: 1024px) {

    .haedingTextforSelectedColor {
        font-size: 28px;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    .haedingTextforSelectedColor {
        font-size: 24px;
    }
}

/* For mini mobile phones */
@media (max-width: 530px) {
    .haedingTextforSelectedColor {
        font-size: 18px;
    }
}