@import url("/src/globle.css");

.mainBox {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg-soft);
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}

.image {
    height: 100vh;
    width: 100vw;
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1750661071/heroImage-Picsart-AiImageEnhancer_wl0fay.png");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.mainBox .mainBoxHeading {
    font-size: 9rem;
    font-weight: bolder;
    z-index: 1;
    font-family: var(--font-heading);
    color: var(--color-bg-soft);
}

.mainBox .mainBoxPera {
    letter-spacing: 0.2rem;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-bg-soft);
    font-family: var(--font-cursive);
}

.mainBox i {
    font-size: 2.6rem;
    position: absolute;
    bottom: 50px;
    opacity: 0.2;
    animation: scrollIcon 2s infinite ease-in-out;
}

@keyframes scrollIcon {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.2;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
}

.shopBtn {
    z-index: 1;
    margin-top: 8px;
}

.shopBtn button {
    cursor: pointer;
    background-color: var(--color-bg-soft);
    box-shadow: var(--shadow-soft);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 14px;
    font-size: 1rem;
    transition: all 0.3s ease;
    border: none;
    box-sizing: border-box;
}

.shopBtn button:hover{
    transform: translateY(-2px);
}

.overShade {
    background-color: rgba(0, 0, 0, 0.511);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* For tablets */
@media (max-width: 1024px) {
    .mainBox .mainBoxHeading {
        font-size: 8rem;
    }

    .mainBox .mainBoxPera {
        font-size: 1.5rem;
    }

    .shopBtn button {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    .mainBox .mainBoxHeading {
        font-size: 6rem;
    }

    .mainBox .mainBoxPera {
        font-size: 1.3rem;
    }

    .shopBtn button {
        padding: 8px 16px;
        font-size: 1rem;
    }
}

/* For mini mobile phones */
@media (max-width: 530px) {
    .mainBox .mainBoxHeading {
        font-size: 3.5rem;
        margin: 20px 0;
    }

    .mainBox .mainBoxPera {
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
    }

    .shopBtn button {
        padding: 8px 12px;
        font-size: 1rem;
    }
}