@import url("/src/globle.css");

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 65px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: var(--shadow-soft);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: url("https://res.cloudinary.com/dtotogjvb/image/upload/v1750134407/Firefly_we_have_a_business_for_designing_walls_with_wallpaper__designing_wallpapers___so_for__3976922-removebg-preview_1_1_afrehb.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    margin: 0 20px;
}

.search-box {
    padding: 6px;
    align-self: center;
    border: 1.6px solid var(--color-accent);
    border-radius: 30px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.crossMark {
    cursor: pointer;
    color: var(--color-accent);
}

.search {
    width: 100%;
    height: 100%;
    margin-left: 8px;
    outline: none;
    border: none;
    font-family: var(--font-heading);
    letter-spacing: 0.1rem;
}

.nav-links {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-family: var(--font-heading);
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 0.1rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-accent);
    font-size: 1.2rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.nav-links a:hover {
    color: var(--color-hover);
}

.authUserSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    position: relative;
}

.authUserSection i {
    cursor: pointer;
    font-size: 30px;
}

.authUserSection i:active {
    color: var(--color-hover);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    cursor: pointer;
    padding: 16px 0;
    margin: 0 20px;
}

.line1 {
    background-color: var(--color-secondary);
    height: 3px;
    width: 28px;
    transition: all 0.7s ease;
}

.line2 {
    background-color: var(--color-secondary);
    height: 3px;
    width: 40px;
    transition: all 0.3s ease;
}

.line3 {
    background-color: var(--color-secondary);
    height: 3px;
    width: 15px;
    transition: all 0.7s ease;
}

.sidebar {
    position: absolute;
    top: 0;
    margin-top: 65px;
    width: 100%;
    height: 100vh;
    z-index: 40;
    backdrop-filter: blur(100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    display: none;
    font-family: var(--font-body);
}

.sidebar-nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.sidebar-nav-links li a {
    text-decoration: none;
    color: var(--color-secondary);
    text-decoration: underline white;
    font-size: 22px;
    transition: all 0.3s ease;
    font-weight: bolder;
    letter-spacing: 0.2rem;
}

.sidebar-nav-links li a:hover {
    text-decoration: underline;
}

.crossbtn {
    margin-top: 80px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: var(--color-bg-soft);
    color: var(--color-secondary);
}

.wallCard2 {
    background-color: var(--color-bg-soft);
    position: absolute;
    top: 70px;
    display: flex;
    align-items: start;
    flex-direction: column;
    z-index: 111;
    padding: 20px 30px;
    box-shadow: var(--color-primary) 0px 3px 8px;
    gap: 20px;
    box-sizing: border-box;
    max-height: 400px;
    overflow: scroll;
    scrollbar-width: thin;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* For tablets */
@media (max-width: 1024px) {
    .logo {
        width: 60px;
    }

    .search-box {
        padding: 4px 8px;
        border-radius: 25px;
    }

    .nav-links {
        width: 50%;
    }

    .authUserSection {
        width: 20%;
    }

    .authUserSection i {
        font-size: 28px;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    .logo {
        width: 55px;
    }

    .search-box {
        padding: 4px 8px;
        border-radius: 25px;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .authUserSection {
        width: 15%;
    }

    .authUserSection i {
        font-size: 26px;
    }
}

/* For mini mobile phones */
@media (max-width: 530px) {
    .authUserSection {
        display: none;
    }
}